VITE_FIREBASE_API_KEY=AIzaSyB_oEiBDTtN_nXNWMjyBOIdlrNQJen-15o
VITE_FIREBASE_AUTH_DOMAIN=livewrite-4c2aa.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=livewrite-4c2aa
VITE_FIREBASE_STORAGE_BUCKET=livewrite-4c2aa.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=864973815094
VITE_FIREBASE_APP_ID=1:864973815094:web:f014e0212f8cdae1904797
VITE_FIREBASE_MEASUREMENT_ID=G-22SMHXMZ27
VITE_ADMIN_PASSCODE=VU-CS101-ADMIN
